[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
black = "==21.7b0"
httpie = "*"
httpx = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
