[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
delorean = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-ipware = "*"
fastapi = "*"
httpx = "*"
psycopg2 = "*"
python-dotenv = "*"
uvicorn = "*"
whitenoise = "*"

[dev-packages]
black = "==21.9b0"
httpie = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
