<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>&#123; me: "{{ user }}" &#125;</p>
    <p><a href="{% url 'blog:post-list' %}">API</a></p>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logOut()</a>
    {% else %}
        <a href="{% url 'login' %}">logIn()</a>
        <a href="{% url 'signup' %}">signUp()</a>
    {% endif %}
</div>

<article>
    <h1>All posts</h1>
    {% if not user.is_anonymous %}
        <a href="{% url 'blog:new' %}">New post</a>
    {% endif %}
    <hr>
    {% for post in object_list %}
        <section id="id_post_{{ post.pk }}">
            <a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
            <p>{{ post.content|default:"(no content)" }}</p>
            <p>Author: {{ post.author }}</p>
        </section>
    {% empty %}
        <p>ø</p>
    {% endfor %}
</article>
</body>
</html>
