<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<article>
    <h1>All posts</h1>
        <a href="/blog/new/">New post</a>
    <hr>
    {% for post in object_list %}
        <section id="id_post_{{ post.pk }}">
            <a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
            <p>{{ post.content|default:"(no content)" }}</p>
        </section>
    {% empty %}
        <p>(no posts)</p>
        <p><a href="/blog/new/">(create)</a></p>
    {% endfor %}
</article>
</body>
</html>
